<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
    "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.member.mapper.MemberMapper">
    <insert id="register" parameterType="com.fh.member.po.Member">
       insert into t_member (memberName,password,phone)
       values (#{memberName},#{password},#{phone})
    </insert>


</mapper>
